.App {
  text-align: center;
  font-family: cursive;
  color: white;
}

main {
  position: relative;
}

main:before {
  position: absolute;

  content: "";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: 2;

  background: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: 5px;
  padding: 10px;
  animation: dash 15s linear infinite;
}

@keyframes dash {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

.trail {
  position: absolute;
  height: 6px; width: 6px;
  border-radius: 3px;
  background: white;
  content: "🙏";
}
